@import url(https://fonts.googleapis.com/css?family=Vibur);

body {
  background: #112 url(http://i66.tinypic.com/p87r4.jpg) top center no-repeat;
  background-size:cover;
  margin:0;
  padding: 0px 10px;
}
#wrapper {
  text-align: center;
  /* height: 250px;
  width: 65%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  padding:20px 0px;
}
.img-div {
    text-align: center;
}
.logo{
    text-align: left;
    padding-top: 20px;
}
.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calender{
    text-align: right;
}
.logo img , .calender img{
    width: 100px;
}
.img-div img {
    width: 160px;
    filter: invert(1);
}

#wrapper b {
    font: 100 15vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    line-height: 1.2em;
}
#wrapper b span{
  animation: blink linear infinite 2s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}