div#error {
    color: red;
    line-height: 1.7em;
    font-size: 21px;
    margin-top: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: blueviolet;
  margin: 0%;
  padding: 0%;

}
.todo-wrapper {
    text-align: center;
    margin-top: 60px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-size: 60px;
  margin: 0 20px;
}

.todolist {
    width: 700px;
    margin: auto;
    min-height: 300px;
    border: 2px solid white;
    border-radius: 0px 0px 100px 100px;
    padding: 20px 20px 100px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    background-image: radial-gradient(rgb(176, 115, 233), blueviolet);
}
#text {
  min-width: 300px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 0px solid transparent;
  font-size: 24px;
  margin-right: 10px;
  color: blueviolet;
}

#text:focus {
  outline: none;
}

button {
  color: blueviolet;
  font-weight: 500;
  font-size: 24px;
  border-radius: 5px;
  border: 0px solid transparent;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.3s all ease-in-out;
}
button:hover,
.clear:hover {
  background-color: rgba(194, 129, 255, 0.253);
  color: white;
  transform: scale(0.97);
}
.d-none {
  display: none;
}

.todolist p {
    margin: 0;
    line-height: 1.7em;
    color: #fff;
    font-size: 21px;
    text-align: left;
}
li span:focus {
  background-color: white;
  color: black;
  outline: none;
  padding: 0 5px;
  display: inline-block;
  min-width: 300px;
  max-width: 400px;
}

.link {
  text-align: center;
  margin: 20px;
}
.link a {
  color: white;
}
