*{
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.container {
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 100%;
    height: 89vh;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 30vh;
}
button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 20px;
    margin: 0px 5px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
button:hover, button:active, button:focus {
    background-color:#c35c2c;
}